---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Portafolio Ricardo";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="250" class="img-ricardo"height="250" alt="RaccoonSpaceGif" src="/ricardo-alan.png"/>
    </div>
    <h1>Ricardo Escobar</h1>
    <span class="badge">Systems Engineer (Dev)</span>
    <h2>About</h2>
    <p>
        Specializing in web development, with a particular focus on frontend development, 
        I have six months of experience in dedicated projects. My expertise encompasses various 
        aspects of frontend development, including HTML, CSS, and JavaScript. Additionally, I have 
        practical experience in creating responsive and user-friendly interfaces, ensuring optimal 
        experiences across different devices and platforms. 
    </p>
    <p>
        My familiarity with frontend frameworks
        such as React, enhances my ability to develop dynamic and interactive web applications. 
        Furthermore, I have a solid understanding of web design principles and best practices, enabling 
        me to collaborate effectively with designers and backend developers to deliver seamless end-to-end 
        solutions.
    </p>
    <p>
        Discover how my six months of frontend development experience can elevate your digital projects. 
        
        <br> <br><b>Visit my portfolio.</b>
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="Bootstrap" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://stock.unga-group.com/node_modules/laravel-mix/icons/laravel.png"/>
        <img class="skills__img" width="60" height="46" alt="Git" src="https://static-00.iconduck.com/assets.00/tailwind-css-icon-2048x1229-u8dzt4uh.png"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn-icons-png.flaticon.com/512/5968/5968332.png"/>
        
        
    </div>
    <h2>Interests</h2>
    <p>
        I'm passionate about continuously expanding my skill set in the realm of web development.
         While my expertise lies predominantly in frontend development, I'm eager to delve into backend 
         technologies. Particularly, I'm keen on mastering Laravel for backend development. Its robust
          features and elegant syntax appeal to my coding sensibilities, and I'm excited to explore its
           potential for crafting efficient and scalable web applications. Through dedicated learning and 
           hands-on projects, I aim to become proficient in Laravel and leverage its capabilities to enhance
            the functionality and performance of digital platforms.
    </p>
    <div class="container">
        <h2>Formulario de Contacto</h2>
        <form action="#" method="POST">
            <div class="form-group">
                <label for="nombre"><p>Nombre:</p></label>
                <input type="text" id="nombre" placeholder="Ingrese su nombre..." name="nombre" required>
            </div>
            <div class="form-group">
                <label for="email"><p>Email:</p></label>
                <input type="email" id="email" placeholder="Ingrese su email..." name="email" required>
            </div>
            <div class="form-group">
                <label for="mensaje"><p>Mensaje:</p></label>
                <textarea id="mensaje" name="mensaje" placeholder="Ingrese su asunto..." required></textarea>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <style>
        .img-ricardo{
            border-radius: 100%;
        }
        .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
textarea{
    height: 85px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #353077;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
    </style>
</Layout>

